<launch>
    <param name="robot_description" textfile="$(find robot_description)/urdf/urdf/demo01.urdf"/>
<!--    <node pkg="rviz" type="rviz" name="rviz"/>-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_description)/config/rviz/show_mycar.rviz"/>


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
</launch>